@mixin bg-image($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
}

@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}