.btn{
  background-color: $orange;
  padding: rem(13px) rem(16px);
  border-radius: rem(5px);
  color: $white;
  font-family: Ubuntu;
  font-weight: 500;
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
  background-color:#c1401e;
  }
}

.popup__close {
  position: relative;
  right: 2rem;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  opacity: 0.8;
  cursor: pointer;
  }

.popup__close:before, .popup__close:after {
  position: absolute;
  left: 0.9375rem;
  content: ' ';
  height: 17px;
  width: 2px;
  border-radius: 3px;
  background-color: $red;
  }

.popup__close:before {
  transform: rotate(45deg);
}
.popup__close:after {
  transform: rotate(-45deg);
}
  
.popup__close:hover {
  opacity: 1;
}