.order{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;

  background:  url(../img/bagground/bg-order.png) center center/ cover no-repeat ;
  background-size: cover ;

}
.order_title{
  padding-top: rem(138px);
  margin-bottom: rem(44px);  
@include tablets{
  padding-top: rem(152px);
  margin-bottom: rem(49px);  
}
@include phones {
  font-size: 50px;
}
}

.form{
  box-sizing: border-box;
}
.form__order{
  display: flex;
  @include tablets{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 rem(150px);
    @include phones {
      margin: 0;
    }
  }
}
.form__coll{
  width: 50%;
  margin-right: rem(20px);
  @include tablets{
  width: 100%;
  margin-right: 0;
  }
}
.form__row{
  display: flex;
  margin-bottom: rem(20px);
 &-radio{
  justify-content: flex-start;
  margin-bottom: rem(30px); 
 }
 &-afte{
  margin-bottom: rem(20px);
 }
}
.form__row-radio{
  @include phones {
    justify-content: center;
  }
}
.form__row-afte{
  @include phones {
    justify-content: center;
  }
}
.form__row-buttons{
  @include phones {
    justify-content: center;
  }
}


.order__button{
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
  text-transform: uppercase;
}
.form__labal{
  display: block;
  width: 100%;
  flex: 1;
  margin-left: rem(19px);
  &:first-child {
    margin-left: 0;
  }
}
// .form__labal:first-child {
//   margin-left: 0;
// }
.form__label-title{
  color: $white;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  line-height: 1;
  margin-left: rem(1px);
  margin-bottom: rem(9px);
}
.form__label-input{
  border: rem(1px) solid $order;
  border-radius: rem(5px);
  padding: rem(5px);
  width: 100%;
  &:hover{
    border-color:$yellow ;
  }
}
.form__label-input-textarea{
  height: rem(109px);
  resize: none;
}
.form__radio{
  position: relative;
  white-space: nowrap;
  margin-right: rem(20px);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.radio__item {
  position: absolute;
}

.radio__item-fake {
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  // background: $white;
  position: relative;
}


.form__label-title-radio {
  margin-bottom: 0;
}
.order__link {
  display: inline-block;  
  text-decoration: none;
  background-color: $orange;
  border-radius: rem(5px);
  padding: rem(11px) rem(15px);  
  color: $white; 
  font-family: Ubuntu; 
  font-size: rem(13px);
  font-weight: 500;
  transform: scale(1);
  transition: 0.4s;

  &:hover {
    background-color: darken($orange, 10%);
   
  }
}

.reset__button {
  margin-left: rem(20px);
  font-family: "Ubuntu Light", sans-serif;
  font-size: rem(14px);
  color: $white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: underline;
    
  }
}
