.header{
  position: absolute;
  width: 100%;
  padding-top: rem(12px);
  z-index: 1;
  
}
.header__container{
display: flex;
// justify-content: space-between;
align-items: center;
}
// делаем отступ навигации для аддаптива
.header__navigation{ 
  margin-left: rem(15px);
} 
.header__logo{
  min-width: rem(92px);
  display: inline-block;
  margin-right: auto;
}
.header__list{
  display: flex;
  align-items: center;
}
.header__nav{
  @include tablets{
    display: none;
  }
  @include phones{
    display: none;
  }
}
.header__item{
  display: flex;
  align-items: center;
  margin-right: rem(16px);
  
  &:after{
    content: "";
    width: rem(5px);
    height: rem(5px);
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin-left: rem(16px);
  }

  &:nth-last-child(1) {
    &:after {
      display: none;
      
    }
  }
  &-Indentation{
    margin-right: 0;
  }
}
.header__link{
  text-decoration: none;
  color: $white;
  font-family: Ubuntu;
  font-size: rem(13px);
  text-transform: uppercase;
}
.header__btn{
  margin-left: rem(15px);
  // @include tablets{
  //   margin-left: rem(470px);
  // }
  // @include phones{
  //   margin-left: rem(198px);
  // }

}

// .visible__page{
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   position: relative;
//   flex=1;

// }
// .visible__top{
//   display: flex;
 
// }
.header_fullcreen{
  .header__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .9);
    z-index: 45;}
    .header__list{
      flex-direction: column;

      .header__item{
        flex-direction: column;
        margin-right: 0;
        &::after{
          margin:rem(26px) 0;
        }
      }
      .header__link{
        font-family: Ubuntu;
        font-size: rem(24px);
        font-weight: 400;
        line-height: rem(40px);
      }
    }
    .logo__img{
      position: fixed;
      top:rem(12px);
      left:rem(19px);
      z-index: 46;
    }
}

.header__close{
  position: absolute;
  top:rem(31px);
  right: rem(19px);
  display:none;
  @include tablets{
    display: flex;
  }
}