.header__list{
  display: flex;
  align-items: center;
}
.header__item{
  display: flex;
  align-items: center;
  margin-right: 16px;
  
  &:after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: $white;
    border-radius: 50%;
    display: block;
    margin-left: 16px;
  }

  &:nth-last-child(2) {
    &:after {
      display: none;
    }
  }
}
.header__link{
  text-decoration: none;
  color: $white;
  font-family: Ubuntu;
  font-size: 13px;
  text-transform: uppercase;
}
