.promo{
  // background-image: url("../../img/bagground/video-bg.png");
  // background-repeat: no-repeat;
  // border-style: cover;
  // background-position: center center;
  background:  url("../img/bagground/bg_first_list.png")  center center/cover no-repeat;
  position:  relative;
}
.promo__container{
  height: 100%;
  display: flex;
}

.promo__content{
  display:  flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  // height: 65%;
}
.promo__middle{
  display: flex;
  align-items: center;
  width: 100%;
  @include tablets{
    display: flex;
    flex-direction: column;
  }
}
.promo__logo,
.promo__text{
  flex: 1;
}
.promo__img{
  @include tablets {
    width: 70%;
    height: 70%;
    // margin: 0 auto; 
  } 
}
.promo__logo{
  @include tablets {
    justify-content: center;
    display: flex;
  } 
}
.promo__text{
  width: rem(415px);
  @include tablets {
    text-align: center;
    padding-top: rem(40px);
  } 
  @include phones{
    padding-top: rem(52px);
  }
}
 .promo__title{
  margin-left: rem(11px);
  @include tablets{
    margin: 0;
  }
}
.promo__sibtitle{
  font-family: 'Lifehack';
  font-size: rem(65px);
 line-height: 1;
  line-height: rem(85px);
  color:$white;
  
@include tablets{
  padding-top: rem(45px);
}
}
.promo__scroll-btn{
  width: rem(29px);
  height: rem(15px);
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: rem(41px);
  left: 50%;
  transform: translateX(-50%);
}





