.revievs{
  position: relative;
}
.revievs__list{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
// задаем ширину 25% и высоту
// filter: grayscale(100%); фильтр для чернобелого эффекта
.revievs__iteam{
  flex-basis: 25%; 
  height: 50%;
  position: relative;
  filter: grayscale(100%);

  &:hover{
    .revievs__hover{
      opacity: 1;
    }

  }
  @include tablets{
    flex-basis: 50%;
    height: 25%;
  }
  
}
// задаем высоту и ширину для фото, чтоб растянулось на весь контейнер
.revievs__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
// при наведении на картинку
.revievs__hover{
  opacity: 0;
 color: $white;
 position: absolute;
 top: 0;
 right: 0; 
 bottom: 0;
 left: 0;
 background-color: rgba($black, 0.3 );
 padding: rem(50px) rem(33px) rem(50px) rem(20px);
 transition: opacity .4s;

 @include tablets{
  padding: 0 5%;
  flex-direction: column;
  align-items: center;
  display: flex;
  text-align: center;
  max-width: 100%;
  justify-content: center;
}
}

.revievs__name{
  color: $white;
font-family: Gagalin;
font-size: rem(14px);
font-weight: 400;
line-height: 1;

@include tablets{
   padding-top: rem(35px); 
}

@include phones {
  font-size: 24px;
  padding-top: rem(45px); 
}
 

}
.revievs__text{
  padding-top: rem(30px);
  
  color: $white;
  font-family: Ubuntu;
  font-size: 1vmax;
  // font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24px);
  @include tablets{
    padding-top: 1rem;
  //  font-size: rem(14px);
   line-height: 1rem;
  }
  
@include phones {
  display: none;
}
 

}
.revievs__batton{
  display: inline-block;
}
.revievs__btn{
  margin-top: rem(17px);
  border:none;
  // color: $white;
  // font-family: Ubuntu;
  // font-size: rem(13px);
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  // text-transform: uppercase;
  @include tablets{
    margin-top: 1rem;
   }
 
}
.revievs__btn-phones{
  display: none;
  @include phones {
    display: inline-block;
    margin-top: rem(10px);
  }
}

.revievs__tablets{
  @include phones {
    display: none;
  }
   
}
