.slaider{
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-size: cover;
  &__container{
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.slaider__content{
  height: 100%;
}
.slider__wrap{
  height: 100%;
  flex:1;
  overflow: hidden;
}
.slaider__list{
  display: flex;
  height: 100%;
}
.slaider-first{
  // растягиваем на всю ширину контейнера
  flex:0 0 100%; 

  height: 100%;
  display: flex;
  
@include tablets{
    align-items: center;
}
 .slaider__img{
  max-width: 505px;
 } 
}
.scroll{
  position: relative;
  margin: 0;
  width: 6.5%;
  height: 100%;
}
.scroll__left{
  position: relative;
  top: 50%;
  transform: rotate(90deg);
  width: 1.8125rem;
  height: 0.9375rem;
  
}
.scroll__right{
  position: absolute;
  top: 50%;
  transform: rotate(270deg);
  width: 1.8125rem;
  height: 0.9375rem;
}
.scroll-btn{
  width: rem(29px);
  height: rem(15px);
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
}
.slaider__menu{
  width: 100%;
  display: flex;
  @include tablets{
    display: flex;
flex-direction: column;
  }

}
.slaider__left{
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  @include tablets{
    justify-content: center;
  }
}
.slaider__img{
  @include tablets{
    display: flex;
    justify-content: center;
  }
  
 
}
.slider__meny-burger1{
  
@include tablets{
  width: 70%;
  height: 70%;
}
}
.slider-bacon{
  @include tablets{
    width: 63%;
  }
}
.ingridients{
width: rem(90px);
height: rem(90px);
background-color: #f08c33;
border-radius: 5px;
cursor: pointer;

position: absolute;
bottom: 67%;
left: 1%;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

&:hover {
  background-color:$red;
}
@include tablets{
    top:0;
    left: rem(17px);
}
@include phones {
  top: -15.5%;
    left: 0;
}
}
.ingridients__name{
color: $white;
font-family: Gagalin;
font-size: 14px;
font-weight: 400;

}

.ingridients-Shrimp, .kkal-Shrimp{
  @include phones {
    top: 0%;
  }
}
.ingridients-chicken{
  @include phones {
    width: 73px;
  }
}

.kkal{
  position: absolute;
  width: 3.75rem;
  height: 4.6875rem;
  top: 68%;
  left: 1%;
  @include tablets{
    top:0;
    left: 84%;
    bottom: 0;
  }
  @include phones {
    top: -15.5%;
    
  }
  
}
.kkal-Shrimp{
  @include phones {
    top: 0%;
  }
}
.kkal__amount{
  position: absolute;
  font-family: Gagalin;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.5);
  top: 36%;
  left: 21%;
}
.kkal__name{
opacity: 0.5;
color: $white;
font-family: Gagalin;
font-size: 14px;
font-weight: 400;;
text-align: center;
}
.slaider__right{
  position: relative;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablets{
    text-align: center;
    margin-top: 26px;
  }
}
.slider__name-burger{
color: $white;
font-family: Gagalin;
font-size: 72px;
font-weight: 400;
line-height: 63.93px;

@include tablets{
    padding: 0 8%;
}
@include phones {
  font-size: 50px;
  padding: 0 13%;
}
}

.slider__about{
color: $white;
font-family: Ubuntu;
font-size: 14px;
font-weight: 300;
line-height: 23.97px;
margin-top: rem(50px);
@include phones {
  margin-top: rem(36px);
}
 
}
.slide__prise{
  margin-top: rem(36px);
  display: flex;
  @include tablets{
    margin-top: rem(47px);
  }
  @include phones {
  }
  margin-top: rem(26px);
  
}
.slide__how-much{
color: #e35028;
font-family: Gagalin;
font-size: 72px;
font-weight: 400;
line-height: 28.08px;
letter-spacing: -1.79px;
.slide__muni{
  letter-spacing: -0.75px;
  font-size: 30px;
}
}
.slide__btn{
  margin-top: rem(22px);
  margin-left: rem(20px);
}
