.team{
  position: relative;
  background: url(../img/bagground/team.png) center center/ cover no-repeat;
}


.team__section {
  position: absolute;
  display: flex;
  height: 100%;
  width: 50%;
  background-color: $black;
  opacity: 0.93;
  top: 0;
  right: 0;
  bottom: 0;
  @include tablets{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.team__content {
  display: flex;
  flex-direction: column;
  padding-left: rem(97px);
  @include tablets{
   margin: 0;
   text-align:center;
   padding-left: 0;
  }
  @include phones {
    padding-left: 0;
  }
}
.team__title{
  padding-top: rem(113px);
  padding-bottom: rem(46px);
}
.accordeon__list {
  color: $white;
}
.accordeon__item:not(:last-child) {
  margin-bottom: 1.1875rem;
}

.accordeon__title {
  position: relative;
  padding-bottom: rem(17px);
  font-family: Gagalin;
  font-size: rem(14px);
  cursor: pointer;
  display: inline-block;

  &::before{
    position: absolute;
    content: "";
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(5px) solid $yellow;
    top: rem(9px);
    left: rem(-15px);
    transition: 0.5s;
  }
  @include tablets{
   font-size: rem(25px);
  }
}
.accordeon__info {
  display: flex;
  max-height: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.accordeon__img {
  border-radius: 50%;
  overflow: hidden;
  height: rem(100px);
  width: rem(100px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.accordeon__section {
  margin-left: rem(21px);
  max-width: rem(209px);
}
.accordeon__work {
  padding-bottom: rem(22px);
  font-family: Ubuntu;
  font-weight: bold;
  font-size: rem(14px);
}
.accordeon__text {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: rem(14px);
  line-height: rem(24px);
}

.active{
  .accordeon__title::before{
    transform: rotate(180deg);
    transition: 1s;
  }
  .accordeon__info{
    height: rem(110px); 
    transition: 1s;
    transition-timing-function: cubic-bezier(0, 1.34, 0.45, -0.18);





    
    @include tablets{
      
      height: rem(220px);
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      
    }
  @include phones {
     
  }
  }
  .accordeon__title{
    color:$yellow;
  }
}